@model LeaveTracker.Models.Employee

@{
    ViewData["Title"] = "Information";
}

<h1>Detaljerad information</h1>

<div>
    <h4>Anställd</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HireDate)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.EmployeeId">Redigera</a>

    <a asp-action="Index" class="btn btn-secondary">Gå tillbaka</a>
</div>
